/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.example
.gitattributes
app/
artisan
bootstrap/
composer.json
composer.lock
config/
database/
package.json
phpunit.xml
public/
resources/
server.php
storage/
tests/
webpack.mix.js
yarn.lock
!/config/
!/resources/
!/app/
!/bootstrap/
!/database/
!/public/
!/storage/
!/yarn.lock
!/.env
!/package.json
!/phpunit.xml
!/composer.json
!/server.php
!/.env.example
!/.gitattributes
!/composer.lock
!/.gitignore
!/webpack.mix.js
!/artisan
!/vendor/
!/tests/
